---
layout: default
title: Home
cover: assets/images/cover.png

---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title" style="text-shadow: 0 0 2px rgba(0,0,0,.8);">{{ site.name }}</h1>
            <h2 class="page-description" >
                {% if site.description %} <a href="/about">{{ site.description }}</a>. {% endif %}
            </h2>
            <div class="extra-links">
                <a href="https://github.com/soleo">
                   <i class="fa fa-github"></i>
                </a>
                 <a href="https://www.linkedin.com/pub/xinjiang-shao/33/b60/37">
                   <i class="fa fa-linkedin"></i>
                </a>
                 <a href="https://medium.com/@soleoshao">
                   <i class="fa fa-medium"></i>
                </a>
                 <a href="https://twitter.com/soleoshao">
                   <i class="fa fa-twitter"></i>
                </a>
                <a href="https://society6.com/xinjiangshao">
                    <i class="fa fa-paint-brush"></i>
                </a>
            </div>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">
    <script async src="https://static.medium.com/embed.js"></script>
    <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/@soleoshao/howdybarber-a-scripting-way-to-check-my-barber-s-availability-a75a22bcba0d">HowdyBarber: A scripting way to check my barber’s availability</a>
    <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/@soleoshao/asic-dash-miner-is-in-town-f6b833d3fdcc">ASIC Dash Miner is in town</a>
    <a class="m-story" data-collapsed="true" data-width="100%" href="https://medium.com/@soleoshao/how-i-used-docker-for-latex-on-mac-os-yosemite-cd29c0713cad">How I used Docker for LaTeX On Mac OS Yosemite</a>
    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Xinjiang's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    <!-- Capser below -->
<!--     <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    </article> -->
    <!--  -->

    {% endfor %}

    {% include pagination.html %}

</main>
