

* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    background-color: #282a36;
    color: #eff0eb;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    font-display: auto;
}

.full-height {
    min-height: 62rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #5af78e;
    font-size: 3rem;
    font-weight: 400;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: #57c7ff;
    transition: color 0.2s;
    border-bottom: 0.1rem dotted;
    text-decoration: none;
    letter-spacing: .1rem;
}

a:focus {
    outline: 0.1rem solid #f3f99d;
    outline-offset: 0.1rem;
}

a:hover{
    color: #f3f99d;
    border-bottom: 0.1rem solid;
}

.text-center {
    text-align: center;
}

.intro {
    flex-direction: column;
    height: 100%;
}

.intro .intro__headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.25rem;
    border: 0.25rem dashed #57c7ff;
    margin: 3rem auto;
}

.intro .intro__headshot img {
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 0;
    max-width: 100%;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.intro .intro__headshot img:hover {
    filter: grayscale(0%);
}

.intro .intro__description {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    text-align: center;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.intro .intro__description em {
    color: #f3f99d;
}

.intro .intro__public-communication {
	list-style: none;
	text-align: center;
	padding-bottom: 1rem;
}

.social__links {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.social__links svg {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}

.social__links svg:hover {
    fill: #f3f99d;
}

svg #Twitter,
svg #GitHub,
svg #Instagram,
svg #Medium,
svg #LinkedIn #Rectangle-path,
svg #Society6 {
    fill: #57c7ff;
}

svg:hover #Twitter,
svg:hover #GitHub,
svg:hover #Instagram,
svg:hover #Medium,
svg:hover #LinkedIn #Rectangle-path,
svg:hover #Society6 {
    transition: color 0.2s;
    fill: #f3f99d;
}

svg #LinkedIn #Shape, svg:hover #LinkedIn #Shape{
    fill: #282a36;
}

.social__links a,
.social__link a:hover,
.social__link a:focus,
.social__link a:active,
.social__link a:visited {
    border-bottom: 0;
    text-decoration: none;
}

.social__links a:hover {
    border-bottom: 0;
}

.intro__nav-container ul {
    margin: 0 auto 2rem auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.intro__nav-container ul li {
    margin-right: 1.4rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
}

.intro__nav-container li:after {
    content: "•";
    padding-left: 1em;
}

.intro__nav-container li:last-child:after {
    content: "";
    padding: 0;
}

.page {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 35rem;
}

.page h1 {
    border-bottom: 0.1rem dotted;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.page p {
    padding-bottom: 1rem;
}

.page nav {
    padding-bottom: 1rem;
    margin-top: 2.5rem;
}

.projects ul li {
    text-align: left;
    padding-bottom: 1.3rem;
}

@media only screen and (max-width: 450px) {
    .intro__nav-container ul li {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 400;
        display: block;
        padding-bottom: 1.5rem;
        margin: 0 auto;
    }

    .intro__nav-container li:after {
        content: "";
        padding-left: 0;
    }

    .social__links svg {
        width: 2rem;
        height: 2rem;
    }

    .page {
        margin-top: 1rem;
    }
}
