{{ partial "header" . }}

<main class="flex-center full-height">
    <section class="intro">
        <div class="intro__headshot">
            <img src="/img/photo-of-xinjiang.png" alt="Headshot of Xinjiang Shao" id="profile-photo"/>
        </div>

        <p class="intro__description">Hello, World! My name is <strong>Xinjiang Shao</strong>, currently working as a Full Stack Developer at <a href="https://www.peapod.com">PeaPod</a>, previously at <a href="https://exactsports.com">EXACT Sports</a>, and on the team of building <a href="https://prephero.com">PrepHero</a>. </p>

        <ul class="intro__public-communication">
            <li>E-Mail: <a href="mailto:shaoxinjiang@gmail.com">shaoxinjiang@gmail.com</a></li>
            <li>PGP Public Key: <a href="https://raw.githubusercontent.com/soleo/dotfiles/master/public.key">C1DE 1F2A 29DF 1904 A12F  61CC 6A6E C99E 2DD1 140A</a></li>
        </ul>

        <div class="social__links">
            <a href="https://github.com/soleo" class="social__link">
                {{ template "svg/GitHub.svg" . }}
            </a>
            <a href="https://www.instagram.com/soleoshao" class="social__link">
                {{ template "svg/Instagram.svg" . }}
            </a>
            <a href="https://medium.com/@soleoshao" class="social__link">
                {{ template "svg/Medium.svg" . }}
            </a>
            <a href="https://twitter.com/soleoshao" class="social__link">
                {{ template "svg/Twitter.svg" . }}
            </a>
            <a href="https://www.linkedin.com/in/xinjiangshao" class="social__link">
                {{ template "svg/LinkedIn.svg" . }}
            </a>
            <a href="https://society6.com/xinjiangshao" class="social__link">
                {{ template "svg/Society6.svg" . }}
            </a>
        </div>

        <nav class="intro__nav-container">
            <ul>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="https://github.com/soleo/awesome-reading">Reading List</a>
                </li>
                <li>
                    <a href="/about">Résumé</a>
                </li>
            </ul>
        </nav>
    </section>
</main>

{{ partial "footer" . }}
