{{ partial "header" . }}
<nav class="text-center">
    <a href="/">Home</a>
</nav>
<section id="main">
    <h1 id="title" class="text-center">{{ .Title }}</h1>
    <div>
        <article id="content" class="full-width blog">
            {{ .Content }}
        </article>
    </div>
</section>
<aside id="meta">
    <div>
        <section>
            <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        </section>
        {{ with .Params.topics }}
        <ul id="topics">
            {{ range . }}
            <li><a href="{{ "topics/" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
            {{ range . }}
            <li> <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div>
        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>

{{ partial "footer" . }}
